examples/* linguist-vendored
deps/* linguist-vendored
test/* linguist-vendored

*.h linguist-language=C
*.ps linguist-language=HLSL
*.vs linguist-language=HLSL
*.fragvk linguist-language=GLSL
*.vertvk linguist-language=GLSL
