examples/* linguist-vendored
deps/* linguist-vendored
test/* linguist-vendored

*.h linguist-language=C
*.ps3 linguist-language=HLSL
*.vs3 linguist-language=HLSL
*.ps4 linguist-language=HLSL
*.vs4 linguist-language=HLSL
